/* .hero {
    padding-left: 2rem ;
    padding-right: 2rem ;
} */
.hero .col-md-9 img {
    height: 400px !important;
}
.hero .col-md-3 .card{
    height: 400px !important;
    background: #f7e78e;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    width: 20rem;
  


}
.hero .col-md-3 .card .card-body{
    overflow: hidden;
}

.hero .col-md-3 .card .card-header{
    color: red;
    font-family: 'CircularStd', sans-serif;
    font-style: italic;
}


